// GSTC Quasar variables

$primary   : #0f3460;
$secondary : #16213e;
$accent    : #e94560;

$dark      : #1a1a2e;
$dark-page : #12121f;

$positive  : #21ba45;
$negative  : #ff5252;
$info      : #31ccec;
$warning   : #f2c037;
